@font-face {
    font-family: montserrat;
    src: url(./fonts/Montserrat-VariableFont_wght.ttf);
}

:root {
    --primary: #00aaa0;
    --business: #3a82ee;
    --personal: var(--primary);
    --light: #e0e5e4;
    --dark: #313154;
    --danger: rgb(255, 91, 87);
    --grey: #888;
    --shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(0, 170, 160, 0.75);
    --danger-glow: 0px 0px 4px rgba(255, 91, 87, 0.75);

    --low: rgba(97, 255, 66);
    --medium: rgb(244, 252, 2);
    --high: var(--danger);

    --low-glow: 0px 0px 4px rgba(97, 255, 66, 0.75);
    --medium-glow: 0px 0px 4px rgba(244, 252, 2, 0.75);
    --high-glow: 0px 0px 4px rgba(255, 91, 87, 0.75);
    ;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

body {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr);
    grid-template-rows: max-content 5fr min-content;

    height: 100vh;
    color: var(--dark);
    background-color: var(--light);
}

section {
    margin-top: 2em;
    margin-bottom: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

h3 {
    color: var(--dark);
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 0.5em;
}

h4 {
    color: var(--grey);
    font-size: 0.875em;
    font-weight: 700;
    margin-bottom: 0.75em;
}

/*HEADER*/
header {
    background-color: #fcf4d9;
    box-shadow: var(--shadow);
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.header-logo {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;

}

header h1 {
    margin: 0.5rem 1rem;
    text-transform: uppercase;
    font-weight: 400;
}

header img {
    height: 3rem;
    width: 3rem;
}

.burger-menu {
    display: none;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
    height: 35px;
    width: 35px;
    cursor: pointer;
    padding: 6px 3px;
    margin: 0.5rem 1rem;
    border: 1px solid var(--dark);
    border-radius: 0.5rem;


}

.burger-menu:active {
    border-color: var(--primary);

    .bar {
        background-color: var(--primary);
    }
}

span.bar {
    width: 25px;
    height: 3px;
    background-color: var(--dark);
    border-radius: 0.5rem;
}


/*MAIN*/

aside {
    background-color: #8ed2c9;
}

#main {
    display: grid;
    grid-template-columns: minmax(min-content, 1fr) 2fr;
}



/*FOOTER*/
footer {
    background-color: #d55b3e;
    display: flex;
    justify-content: space-between;
}

footer div {
    margin: 0.2rem 1rem;
}

footer img {
    width: 15px;
    margin: 0 5px;
}

footer a {
    /* text-decoration: none; */
    color: var(--dark);

}

.footer-container {
    display: flex;
    align-items: center;
    gap: 6px;
}

/*----------------*/

@media only screen and (max-width: 768px) {
    .burger-menu {
        display: flex;
    }

    #main {
        grid-template-columns: 1fr;
    }

    aside {
        height: 0px;
        overflow: hidden;
        box-shadow: var(--shadow);
        transition: height 0.3s ease-in-out;
    }

    .burg-active {
        border-color: var(--primary);

        .bar {
            background-color: var(--primary);
        }
    }

    .active {
        display: block;
        height: 285px;
        /* max-height: max-content; */
        overflow-y: auto;
    }

    .header-logo {
        grid-column: 2/-1;
        justify-self: end;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

}